# Ignore downloaded external libraries
/node_modules/

# Ignore build versions of the server- and client code
/server/
/public/

# Ignore configuration files (for e.g. database connection)
/config/

# -- Build tools --

# Yarn
yarn-error.log
